.container {
    max-width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 2em;
    font-family: 'open sans', sans-serif;
}
h1{
    font-size: 5em;
    font-weight: bold;
}
h2 {
    font-size: 3em;
    font-weight: bold;
}
h3 {
    font-size: 2em;
    font-weight: bold;
}
h4 {
    font-size: 1em;
    font-weight: bold;
}
.main-nav {
    background-color: #222;
    padding-bottom: 0;
}
.nav-list li  {
    text-align: center;
    list-style: none;
    padding: 1.5em;
    
}
.nav-list li a {
    color: #c78c06;
    text-decoration: none;
}

.connect {
    background: url(/final-project/images/main-banner.jpg) no-repeat center;
    background-size: cover;
    margin-top: 0;
    padding-top: 11em;
    padding-bottom: 11em;
    color: white;
}
.connects {
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.about {
    background-color: #ffe6ac;
    margin: auto;
}
.services {
    background-color: #ffe6ac;
    padding-bottom: 20px;
    padding-top: 0;
    margin-top: 0;
}
.service {
    background-color: #ffe6ac;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.markets {
    background-color: #ffe6ac;
}
.marketing {
    background-color: #ffe6ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.videos {
    background-color: #ffe6ac;
}
.vid {
    background-color: #ffe6ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.webs {
    background-color: #ffe6ac;
}
.webplan {
    background-color: #ffe6ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.printer {
    background-color: #ffe6ac;
}
.prints {
    background-color: #ffe6ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.vision {
    background: url(/final-project/images/vision.jpg) no-repeat center;
    background-size: cover;
    margin-top: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.team {
    background-color: #ffe6ac;
}
.teams {
    background-color: #ffe6ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
} 

.search {
    background-color: #222;
   display: flex;
   align-content: end;
   justify-content: end;
   max-width: 100%;
   padding: 20px;
}
.fa-magnifying-glass{
    color: #c78c06;
    border: 1px solid #c78c06;
    padding: 15px;
}
.us {
    background-color: #c78c06;
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    border: 1px solid #222;    
}
.us a {
    color: black;
    text-decoration: none;
}
.plans {
    background-color: #222;
    display: inline-block;
    padding: 50px;
}
.plans a {
    color: white;
    text-decoration: none;
}
.market {
    background-color: #222;
    display: inline-block;
    padding: 50px;
}
.market a {
    color: white;
    text-decoration: none;
}
.video {
    background-color: #222;
    display: inline-block;
    padding: 50px;
}
.video a {
    color: white;
    text-decoration: none;
}
.web {
    background-color: #222;
    display: inline-block;
    padding: 50px;
}
.web a {
    color: white;
    text-decoration: none;
}
.print {
    background-color: #222;
    display: inline-block;
    padding: 50px;
}
.print a {
    color: white;
    text-decoration: none;
}
.learn {
    background-color: #222;
    display: inline-block;
    padding: 50px;
    border: 1px solid #c78c06;
} 
.learn a {
    color: white;
    text-decoration: none;
}
.send {
    background-color: #222;
    display: inline-block;
    padding: 20px;
}
.send a {
    color: #c78c06;
    text-decoration: none;
}
.contact {
    padding: 50px;
    padding-left: 0;
}
.hours {
    padding-top: 20px;
}
form input, textarea{
    padding: 20px;
    align-content: end;
    font-size: 15px;
    width: 100%   
}
form ::placeholder {
    font-size: 2em;
}
table {
    border-collapse: collapse;
    border: 1px solid #222;
    width: 100%;
}
thead {
    background-color: #ffe6ac;
}
table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid #222;
    padding: 1em;
    align-content: end;
    justify-content: end;
    max-width: 100%;
}
iframe {
    width: 100%;
    height: 1200px;
}
img  {
    width: 100%;
}

.mobile-logo {
    width: 200px;
}
.about-us {
    padding-top: 30px;
    background-color: #ffe6ac;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.line {
    background: #c78c06;
    height: 7px;
}

.footer {
    background-color: #222;
    color: #c78c06;
    background-size: cover;
    margin: 0;
    padding: 20px;
    padding-left: 20px;
    width: 25%;
    height: 20px;
}
.footer a {
    color: #c78c06;
}
.site-footer {
    background-color: #222;
    color: #c78c06;
    background-size: cover;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 1.5em;
}
@media screen and (min-width:760px) {
    
}

